* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
    font-family: 'Pt Sans', sans-serif;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

/*-----------------Nav Bar--------------------*/
.navbar-brand {
    letter-spacing: 4px;
    font-size: 32px;
    font-weight: bold;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
}

/*-----------------Homepage Main Section--------------------*/
.hero-img {
    background: linear-gradient(105deg, rgba(50, 116, 166, 1) 0%, rgba(2, 34, 59, 1) 100%);
    background-image: url("../images/background-img.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

.cover-heading {
    color: aliceblue;
    font-size: 38px;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 30px;
    text-shadow: white 0px 0px 1px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.cover-sub-heading {
    color: aliceblue;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 175px;
    text-shadow: white 0px 0px 1px;
    text-align: center;
}

.download {

    margin-bottom: 25px;
}

/*--------------Homepage Learn More section-------------------------*/

.bottom-section {
    margin-bottom: 60px;
}

.card {
    border: none;
}

section-details .card-body {
    height: 400px;
}

.section-details {
    height: 400px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.btn-blue {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}


/*----------------Footer-----------------*/

#footer {
    background: linear-gradient(105deg, rgba(50, 116, 166, 1) 0%, rgba(2, 34, 59, 1) 100%);
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

.footer-logo {
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    padding: 8px;
    text-align: center;
}

.footer-text {
    padding: 5px;
    color: aliceblue;
}

#footer>a:hover {
    text-decoration: none;
    color: aliceblue
}

/*----------------About Me Main Section-----------------*/

.section-heading {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-img {
    margin-bottom: 30px;

}

.profile-txt {
    margin-bottom: 30px;
    font-size: 20px;
}

.testamonials {
    margin-bottom: 80px;
}

/*----------------Contact Page-----------------*/
.contact-form {
    min-height: 100%;
    margin-bottom: 60px;
}


/*----------------FAQ Page-----------------*/

.faq {
    margin-bottom: 60px;
    min-height: 100%;
}


.section-heading {
    padding: 20px;
}


.card-header h2 {
    font-size: 1.1rem;
}

.card-text {
    font-size: 1.5rem;
}

.card-heading>a:before {
    float: right !important;
    content: "-";
    padding-right: 5px;
}

.card-heading>a.collapsed:before {
    float: right !important;
    content: "+";
}

.card-heading>a:hover,
.card-heading>a:active,
.card-heading>a:focus {
    text-decoration: none;
}

/*----------------Media Queries-----------------*/

@media screen and (min-width:452px) {
    .hero-img {
        height: 800px;
    }

    .cover-heading {
        margin-top: 200px;
        font-size: 50px;
    }

    .cover-sub-heading {
        font-size: 32px;
        margin-top: 300px;
    }
}

@media screen and (min-width:1024px) {
    .cover-heading {
        text-align: left;
        margin-top: 50px;
        position: relative;
    }

    .cover-sub-heading {
        text-align: left;
        margin-top: 30px;
        position: relative;
    }

    .download {
        position: absolute;
        left: 65px;
    }
}

@media screen and (min-width:320px) {

    .section-details .card-body {
        min-height: 400px;
    }

    .btn-blue {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 60px
    }
}

@media screen and (min-width:425px) {

    .section-details .card-body {
        min-height: 350px;
    }

    .btn-blue {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 60px
    }

}


@media screen and (min-width:992px) {

    .section-details .card-body {
        min-height: 375px;
    }

    .btn-blue {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 60px
    }
}

@media screen and (min-width:1440px) {
    section-details .card-body {
        min-height: 300px;
    }

    .btn-blue {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 100px
    }
}

@media screen and (min-width:1440px) {

    .profile-txt {
        font-size: 30px;
    }
}

@media screen and (min-width:720px) {

    .card-header h2 {
        font-size: 1.5rem;
    }



}

@media screen and (min-width:992px) {

    .card-header h2 {
        font-size: 1.7rem;
    }
}

@media screen and (min-width:450px) {

    .section-details p {
        font-size: 1.2rem;
    }
}

@media screen and (min-width:1440px) {

    .section-details p {
        font-size: 1.2rem;
    }
}