* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

/*-----------------Nav Bar--------------------*/

nav {
    background-color: #E1E0E0;
}

.navbar-brand {
    letter-spacing: 4px;
    font-size: 32px;
    font-weight: bold;
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
}


/*-----------------Homepage Main Section--------------------*/

.hero-img {
    background: rgb(50, 116, 166);
    background: linear-gradient(105deg, rgba(50, 116, 166, 1) 0%, rgba(2, 34, 59, 1) 100%);
    background-image: url("../images/background-img.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;

}

.cover-heading {
    color: aliceblue;
    font-size: 38px;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 30px;
    text-shadow: #E1E0E0 0px 0px 2px;
    letter-spacing: 2px;
    text-align: center;



}

.cover-sub-heading {
    color: aliceblue;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 175px;
    text-shadow: white 0px 0px 1px;
    text-align: center;



}

.download {
    margin-top: 10px;
    margin-bottom: 20px;

}


/*--------------Homepage Learn More section-------------------------*/

.card-body {
    height: 400px;
}

.section-details {
    height: 400px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 10px;

}

.btn-blue {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);


}

/*----------------About Me Main Section-----------------*/

.section-heading {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-img {
    margin-bottom: 30px;
}

.profile-txt {
    margin-bottom: 30px;
    font-size: 20px;
}

.testamonials {
    margin-bottom: 50px;
}

/*----------------Contact Page-----------------*/



/*----------------Media Queries-----------------*/

@media screen and (min-width:720px) {
    .hero-img {
        height: 800px;
    }

    .cover-heading {
        margin-top: 200px;
        font-size: 50px;
    }

    .cover-sub-heading {
        font-size: 32px;
        margin-top: 300px;
    }
}

@media screen and (min-width:1024px) {
    .cover-heading {
        text-align: left;
        margin-top: 50px;
        position: relative;
    }

    .cover-sub-heading {
        text-align: left;
        margin-top: 30px;
        position: relative;
    }

    .download {
        position: absolute;
        left: 65px;
    }
}



@media screen and (min-width:992px) {

    .card-body {
        min-height: 400px;
    }

    .btn-blue {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 30px
    }
}


@media screen and (min-width:1440px) {

    .card-body {
        min-height: 300px;
    }

    .btn-blue {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 100px
    }
}

@media screen and (min-width:1440px) {

    .profile-txt {
        font-size: 30px;
    }
}